<div class="about-the-site">
  <div class="container">
    <p class='blurb'>
    <strong><a href="{{ base }}">{{ site.title }}</a></strong> is a collection of Istio best practices.
      Suggestions and corrections? <a href='https://github.com/tetratelabs/istio-cheatsheet/issues'>Send them in</a>.
      <i class='fleuron'></i>
      Created with ❤️  from <a href="https://tetrate.io">Tetrate</a>
      Theme by <a href="https://devhints.io">devhint.io</a>
    </p>

    {% if page.url != '/index.html' %}
    <p class='back'>
      <a class='big-button -back -slim' href='.#toc'></a>
    </p>
    {% endif %}

    <p>
    </p>
  </div>
</div>
